page-home {

  .domestic {
    fill: #00a6e4;
  }

  .international {
    fill: #476bfb;
  }

  .hotel {
    fill: #fbae17;
  }

  .spacer {
    background: #78dcff;
    height: 0.3rem;
  }

  .back-arrow {
    svg{
      transform: rotate(180deg);
    }
  }
  svg{
    width: 100%;
    height: 100%;
  }
  .promo {
    border-bottom: 2px solid #ff4a00;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #ff4a00;
  }
  ion-slides {
    padding-bottom: 30px;
  }

  .swiper-container {
    overflow: visible;
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    bottom: -25px;
    width: 100%;
  }
}
