<ion-header>
    <ion-toolbar>
      <ion-buttons left start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title align="center">Data Penumpang</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-list *ngFor="let item of required">
      <ion-item *ngIf="isTextBox(item)">
        <ion-label floating>{{item.FieldText}}</ion-label>
        <ion-input type="text" [(ngModel)]="item.value"></ion-input>
      </ion-item>
      <ion-item *ngIf="isSelect(item)">
        <ion-label>{{item.FieldText}}</ion-label>
        <ion-select [(ngModel)]="item.value">
          <ion-option *ngFor="let subitem of item.resource" [value]="subitem.id">{{subitem.name || subitem.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="isDatetime(item)">
        <ion-label floating>{{item.FieldText}}</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="item.value"></ion-datetime>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <button ion-button round color="secondary" mode="ios" (click)="simpan()">Simpan</button>
      </ion-item>
    </ion-list>

  </ion-content>
