page-isi-data {
  .domestic {
    background-color: color($colors,domestic,base);
    color: color($colors,domestic,contrast);
    &.sub{
      background-color: lighten(color($colors,domestic,base), 25%);
      h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
      }
    }
    &.icon{
      background-color: transparent;
      fill: color($colors,domestic,base);
    }
  }
  .international {
    background-color: color($colors,international,base);
    color: color($colors,international,contrast);
    &.sub{
      background-color: lighten(color($colors,international,base), 25%);
      h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
      }
    }
    &.icon{
      background-color: transparent;
      fill: color($colors,international,base);
    }
  }
  
  .hotel {
    background-color: color($colors,hotel,base);
    color: color($colors,hotel,contrast);
    &.sub{
      background-color: lighten(color($colors,hotel,base), 25%);
      h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
      }
    }
    &.icon{
      background-color: transparent;
      fill: color($colors,hotel,base);
    }
  }
    
  .navbar {
    color: color($colors,navbar,base);
    fill: color($colors,navbar,base);
  }

  .price{
    background-color: #f7931e;
    color: white;
    padding: 0.4rem 1.5rem;
    border-radius: 1rem;
  }

  .grey{
    background-color: #c2c2c2;
    color: #828282;
  }

  .subtitle{
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .header{
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .plane-icon{
    height: 4rem;
    width: 4rem;
    justify-content: center;
    display: flex;
    &.depart{
      svg{
        transform: rotate(-45deg);
      }
    }
    svg{
      width: 100%;
      transform: rotate(45deg);
    }
  }
  hr{
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 0.13rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  ion-grid{
    &.grid{
      padding: 0px;
    }
  }
  ion-col{
    ion-icon{
      font-size: 2.2rem;
    }
  }

  .detail{
    background-color: #f3f3f3;
    &.header{
      background-color: #e4e4e4;
    }
  }
}
