<ion-header>
  <ion-navbar [color]="color">
    <ion-title align="center">Isi Data</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid padding>
    <ion-row justify-content-center>
      <h5 class="navbar">
        {{goDet.dep_airport.province_name}}/{{goDet.dep_airport.city_name}} - {{goDet.arr_airport.province_name}}/{{goDet.arr_airport.city_name}}
      </h5>
    </ion-row>
    <hr>
    <ion-row>
      <h6>Keberangkatan</h6>
    </ion-row>
    <ion-row>
      <ion-grid *ngFor="let item of data.departures.flight_infos.flight_info">
        <ion-row>
          <ion-col col-1>
            <div class="plane-icon icon depart" [ngClass]="color" [inlineSVG]="'assets/svg/plane.svg'"></div>
          </ion-col>
          <ion-col col-4>
            <div>FROM:</div>
            <div>{{item.departure_city_name}} ({{item.departure_city}})</div>
          </ion-col>
          <ion-col col-2>
            <div>FLIGHT</div>
            <div>{{item.flight_number}}</div>
          </ion-col>
          <ion-col col-3>
            <div>DATE</div>
            <div>{{item.string_departure_date}}</div>
          </ion-col>
          <ion-col col-2>
            <div>TIME</div>
            <div>{{item.simple_departure_time}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <div class="plane-icon icon" [ngClass]="color" [inlineSVG]="'assets/svg/plane.svg'"></div>
          </ion-col>
          <ion-col col-4>
            <div>TO:</div>
            <div>{{item.arrival_city_name}} ({{item.arrival_city}})</div>
          </ion-col>
          <ion-col col-2>
            <div>FLIGHT</div>
            <div>{{item.flight_number}}</div>
          </ion-col>
          <ion-col col-3>
            <div>DATE</div>
            <div>{{item.string_arrival_date}}</div>
          </ion-col>
          <ion-col col-2>
            <div>TIME</div>
            <div>{{item.simple_arrival_time}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
    <hr>
    <ion-row>
      <div class="price">{{data.departures.price_value}}</div>
    </ion-row>

  </ion-grid>
  <ion-grid>
    <ion-row class="grey" margin-top padding-left>
      <ion-col>
        <h5>Refund tergantung pada kebijakan maskapai</h5>
      </ion-col>
    </ion-row>

    <ion-row [ngClass]="color" margin-top padding-left>
      <ion-col>
        <h5>Data Pemesan</h5>
      </ion-col>
    </ion-row>
    <ion-row class="sub" [ngClass]="color" padding-left>
      <ion-col col-11>
        <h6>Masuk atau Daftar</h6>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row [ngClass]="color" margin-top padding-left (click)="fillContactData()">
      <ion-col col-11>
        <h5>Isi Data Pemesan</h5>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="sub" [ngClass]="color" padding-left>
      <ion-col>
        <h6>
          <ion-icon name="ios-add-circle-outline"></ion-icon>&nbsp;Tambahkan ke daftar penumpang</h6>
      </ion-col>
    </ion-row>

    <ion-row [ngClass]="color" margin-top padding-left>
      <ion-col>
        <h5>Data penumpang</h5>
      </ion-col>
    </ion-row>
    <ion-row class="sub" [ngClass]="color" padding-left *ngFor="let item of countAdultToItem()" (click)="fillAdultPassengerData(item)">
      <ion-col col-11>
        <h6>Penumpang Dewasa {{item}}</h6>
      </ion-col>
      <ion-col col-1>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row margin-vertical justify-content-center>
      <button ion-button small round mode="ios" color="secondary" icon-righ>Lanjutkan&nbsp;
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Fasilitas Penerbangan</h5>
      </ion-col>
    </ion-row>
    <ion-row class="detail header">
      <ion-col>
        <h5>Bagasi</h5>
      </ion-col>
    </ion-row>
    <ion-row class="detail">
      <ion-col>
        <img [src]="data.departures.image" alt="" style="height:2.2rem;">&nbsp;
        <h5>{{goDet.dep_airport.airport_code}} - {{goDet.arr_airport.airport_code}}</h5>
      </ion-col>
    </ion-row>
    <ion-row class="detail" *ngFor="let item of countAdultToItem()">
      <ion-col col-11>{{displayAdultName(item)}}</ion-col>
      <ion-col col-1>{{data.departures.check_in_baggage}}{{data.departures.check_in_baggage_unit}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h5>Rincian Harga</h5>
      </ion-col>
    </ion-row>
    <ion-row class="detail header">
      <ion-col col-9>
        <h5>Harga Total</h5>
      </ion-col>
      <ion-col col-3>
        <h5>{{data.departures.price_value}}</h5>
      </ion-col>
    </ion-row>
    <ion-row class="detail">
      <ion-col col-9>{{data.departures.airlines_name}} (Dewasa) ({{data.departures.count_adult}})</ion-col>
      <ion-col col-3>{{countAdultPriceTotal()}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
